
body,
html {
  width: 100%;
  height: 100%; 
}

body {
  font-family: 'Montserrat', sans-serif;
}

hr {
  max-width: 30px;
  border-width: 4px;
  border-color: rgb(157, 207, 240); 
}

.faded {
  color: rgba(255, 255, 255, 0.8); 
}

header.startup {
  background-position: center;
  background-image: url("header.jpg");
  background-size: cover;
  height: 100%;
}

header.startup hr {
  margin-top: 200px;
  margin-bottom: 30px; 
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
  background-color: rgb(157, 207, 240);
  border-color: rgb(157, 207, 240); }

.btn-primary:hover {
  background-color: #c7e7c7;
  border-color: #c7e7c7;
  border-width: 5px;
  cursor: pointer;
}
  